.hero-section{
    min-height: 100vh;
    background: var(--primary-color);
    padding: 0 17rem;
}
.hero-section .section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
}
.hero-section .hero-details .title{
    color: var(--secondary-color);
    font-size: 3.5rem;
    font-family: "Miniver" , sans-serif;
}
.hero-section .hero-details .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .button{
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
}
.hero-section .hero-details .description{
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}
.hero-section .hero-details .button:hover{
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}
.hero-section .hero-image-wrapper{
    max-width: 300px;
  
    
}
.hero-section .hero-image-wrapper img{
    border-radius: var(--border-radius-m);
}