.testimonials-section{
    padding: 50px 0 100px;
    background: var(--light-pink);
}
/* .testimonials-section .slider-wrapper{
    overflow: hidden;
    margin: 0 60px 50px;
} */
.testimonials-section .testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px;
}
.testimonials-section .testimonial .name{
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}
.testimonials-section .testimonial .feedback{
    line-height: 25px;
}

.testimonials-section .testimonial .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: var(--border-radius-c);
    margin-bottom: 50px;
}