.footer-section{
    background: var(--dark-color);
    padding: 20px 0;
}
.footer-section .section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-section :where(.copyright-text, .social-link, .policy-link){
    color: var(--white-color);
    transition: 0.2s ease;
}

.footer-section .social-link-list{
    display: flex;
    gap: 25px;
}
.footer-section .social-link-list .social-link{
    font-size: var(--font-size-l);
}
.footer-section .policy-text .separator{
 color: var(--white-color);
 margin: 0 5px;
}
.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover{
    color: var(--secondary-color);
}