header{
    background:var(--white-color);
    position: fixed;
    z-index: 100;
    width: 100%;

}
header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
header .navbar img{
    width: 150px;
}
.navbar .nav-menu{
    display: flex;
    gap: 10px;
}
.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: var(--primary-color);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-m);
    transition: 0.3s ease;
}
.navbar .nav-menu .nav-link:hover{
    color: var(--secondary-color);
}