.menu-section{
    color: var(--white-color);
    background: var(--dark-color);
    padding: 50px 200px;
}
.weeks .title{
    font-size: 3rem;
}
.menu-section .weeks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
    padding: 10px 18px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
}
.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 3rem;
    
}
.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    width: calc(100% / 3 - 40px);
    background-color: rgb(236, 237, 238);
}
.menu-section .menu-list .menu-item .menu-image{
    max-width: 100%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
    margin-top: -3rem;
}
/* .menu-section .menu-list .menu-item .text{
    font-size: var(--font-size-m);
}
.menu-section .menu-list .menu-item .name{
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
} */
 .menu-details{
    color: var(--dark-color);
    padding: 0 10px;
   
 }
 .menu-section .menu-list .dish .nane,
 .menu-section .menu-list .dish .price{
    margin-top: -3rem;
  
 }
 .menu-section .menu-list .dish {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .description p{
    font-size: 10px;
    text-align: left;
    margin-top: 1rem;
 }
 .description .order{
    text-align:left;
    font-weight: var(--font-weight-medium);
    margin: 2rem 0 1.3em;
 }